# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log
logs/

# Env files
.env
.env.*
!.env.example

# Node
node_modules/
dist/
build/

# Frontend
frontend/node_modules/
frontend/dist/

# Java / Maven
target/
backend/target/

# OS files
Thumbs.db

# Coverage
coverage/

# Temporary files
*.swp
*.swo

# Upload folders
uploads/
temp/

# PostgreSQL dumps
*.sql

# IntelliJ
out/